/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 800px;
     height: 100%;
     background-color: #FF51F3 ;

  }

  header {
      background-color: #E4CFE8 ;
      padding-left: 65px;
      padding-right: 50px;
      font-size:35px ; 
      display: block;
      border: 20px solid #2DFFC4 ;
      margin-bottom: 50px;
    
    
  }
  nav {
      float: right;
      width: 100%;
  }
  nav ul {
      padding: ;
      float: right;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
  }
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
      border: 20px solid #2DFFC4 ;
      background-color: #E4CFE8 ;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:#C1FFFE;
      color:#E8E806;
      clear: both;
      display: block;
  }
